#entry_http {
   background-color: transparent;
   background-image: none;
   padding: 0px;
   border-radius: 0px;
   -GtkEntry-inner-border: 0;
   border-image: none;
   border-style: solid;
   font-size: 16;
   color: #ffffff;
}

#btn_citPrev {
   background-color: transparent;
   background-image: none;
   border-style: none;
   border-color: none;
   border-image: none;
   padding: 0px;
   border-radius: 0px;
}

#btn_citlogin {
   background-color: transparent;
   background-image: none;
   border-style: none;
   border-color: none;
   border-image: none;
   padding: 0px;
   border-radius: 0px;
}

#label_http {
   color: #ffffff;
   font-size: 14;
   font-family: "Microsoft YaHei"
}
