#entry_user {
   background-color: transparent;
   background-image: none;
   padding: 0px;
   border-radius: 0px;
   -GtkEntry-inner-border: 0;
   border-image: none;
   border-style: solid;
   font-size: 16;
   color: #ffffff;
}

#entry_pass {
   background-color: transparent;
   background-image: none;
   padding: 0px;
   border-radius: 0px;
   -GtkEntry-inner-border: 0px;
   border-style: solid;
   border-image: none;
   font-size: 16;
   color: #ffffff;
   border-width: 1px;
}

#entry_ip {
   background-color: transparent;
   background-image: none;
   border-style: solid;
   border-image: none;
   border-width: 1px;
   border-color: #ffffff;
   color: #ffffff;
   font-size: 12px;
   border-radius: 0.2px;
}

#entry_port {
   background-color: transparent;
   background-image: none;
   border-style: solid;
   border-image: none;
   color: #ffffff;
   border-width: 1px;
   border-color: #ffffff;
   border-radius: 0.2px;
   font-size: 12px;
}

#btn_start {
   background-color: transparent;
   background-image: none;
   border-style: none;
   border-color: none;
   border-image: none;
   padding: 0px;
   border-radius: 0px;
   text-align: right;
   font-size: 10;
   font-family: "Microsoft YaHei"
}

 #btn_close {
   background-color: transparent;
   background-image: none;
   border-style: none;
   border-color: none;
   border-image: none;
   padding: 0px;
   border-radius: 0px;
   text-align: right;
   font-size: 10;
   font-family: "Microsoft YaHei"
}

 #btn_desktop {
   background-color: transparent;
   background-image: none;
   border-style: none;
   border-color: none;
   border-image: none;
   padding: 0px;
   border-radius: 0px;
   text-align: right;
   font-size: 10;
   font-family: "Microsoft YaHei"
}

#btn_sleep {
   background-color: transparent;
   background-image: none;
   border-style: none;
   border-color: none;
   border-image: none;
   padding: 0px;
   border-radius: 0px;
   text-align: right;
   font-size: 10;
   font-family: "Microsoft YaHei"
}

#button_exit {
   background-color: transparent;
   background-image: none;
   border-style: none;
   border-color: none;
   border-image: none;
   padding: 0px;
   border-radius: 0px;
}

#button_loginout {
   background-color: transparent;
   background-image: none;
   border-style: none;
   border-color: none;
   border-image: none;
   padding: 0px;
   border-radius: 0px;
}

#btn_set {
   background-color: transparent;
   background-image: none;
   border-style: none;
   border-color: none;
   border-image: none;
   padding: 0px;
   border-radius: 0px;
}

#btn_Prev {
   background-color: transparent;
   background-image: none;
   border-style: none;
   border-color: none;
   border-image: none;
   padding: 0px;
   border-radius: 0px;
}

#label_pro {
   color: #ffffff;
   font-size: 14;
   font-family: "Microsoft YaHei"
}

#label_port {
   color: #ffffff;
   font-size: 14;
   font-family: "Microsoft YaHei"
}

#label_user {
   color: #ffffff;
   font-size: 14;
   font-family: "Microsoft YaHei"
}

#label_pass {
   color: #ffffff;
   font-size: 14;
   font-family: "Microsoft YaHei"
}

#label_repass {
   color: #ffffff;
   font-size: 13;
   font-family: "Microsoft YaHei"
}

#label_autologin {
   color: #ffffff;
   font-size: 13;
   font-family: "Microsoft YaHei"
}

#label_login {
   color: #ffffff;
   font-size: 12;
   font-family: "Microsoft YaHei"
}

#label_start {
   font-size: 10;
   font-family: "Microsoft YaHei"
}

#label_close {
   font-size: 10;
   font-family: "Microsoft YaHei"
}

#label_desktop {
   font-size: 10;
   font-family: "Microsoft YaHei"
}

#label_sleep {
   font-size: 10;
   font-family: "Microsoft YaHei"
}

#layout3 {
   background-color: #468264;
   background-image: none;
   border-style: solid;
   border-color: #468264;
}

#layout4 {
   background-color: #ffffff;
   background-image: none;
   border-style: none;
   border-color: none;
   border-image: none;
   padding: 1px;
   border-radius: 0px;
}

GtkComboBoxText {
   border-style: solid;
   border-color: #468264;
   border-image: none;
   background-color: transparent;
   color : #ffffff;
   font-size: 18;
}

GtkTreeView {
   border-style:none;
   font-size: 13;
   color: #5C82A2;  /* x11 color "Indigo" (a dark purple)*/
   padding: 1px;
}

column-header .button  {
    border-radius: 10;
    background-color: transparent;
    background-image: none;
    border-width: 0px;
    color: #5C82A2;  /* x11 color "Indigo" (a dark purple)*/
    font-size: 16;
    padding: 0px;
}
